@{
    ViewBag.Title = "Home Page";
}

<main >
    <section class="row" aria-labelledby="aspnetTitle">
        <img src="https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2020/02/inventory-management.jpg" height="300" width="50"/>
        <h1 id="title">Inventory Management System</h1>
        <p class="lead">An inventory management system can simplify the process of ordering, storing and using inventory by automating end-to-end production, business management, demand forecasting and accounting. Optimize your maintenance, repair and operations (MRO) inventory.</p>
        <p><a href="https://www.unleashedsoftware.com/inventory-management-guide/inventory-management-systems" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
</main>